<section class='welcome'>
  <h1>Welcome to the Lobby</h1>
</section>

<section class='responses'>
  <div class="messages">
  </div>
</section>

<section class='information'>
  <h5>Online Users</h5>
  <ul class="users_online">
    <% @onlineUsers.each do |user| %>
      <li id="<%= user.id %>"> <%= user.first_name %> </li>
    <% end %>
  </ul>
</section>

<span class='input-container'>
  <form>
    <input class='style-1' type="text" data-behavior='lobby_speaker'>
  </form>
</span>
