<h1>Welcome to the Lobby</h1>

<h5>Users Online:</h5>
<ul class="users_online">
  <% @onlineUsers.each do |user| %>
    <li id="<%= user %>"> <%= user %> </li>
  <% end %>
</ul>


<div class="messages">

</div>

<form>
  <input type="text" data-behavior='lobby_speaker'>
</form>
