<div class="slack-login">
  <%= link_to image_tag("https://api.slack.com/img/sign_in_with_slack.png"),
  "https://slack.com/oauth/authorize?scope=identity.basic+identity.avatar&client_id=#{ENV['slack_id']}" %>
</div>

<p>
  or
</p>

<div class="guest-play">
  <%= button_to "Play as Guest", login_path %>
</div>
